* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  outline: 0;
  border: 0;
  text-decoration: none;
}
input,
button,
select {
  padding: 10px;
  appearance: none;
}
h1 {
  margin: 0;
}
body {
  margin: 0;
  background-color: silver;
}

header {
  padding: 10px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

aside {
  z-index: 1000;
  transition: 0.3s;
  position: fixed;
  top: 100px;
  left: 0;
  height: calc(100vh - 200px);
  background-color: black;
  display: flex;
  flex-flow: column;
  align-items: center;
  transform: translateX(-100%);
}
aside a {
  margin: 10px;
  padding: 10px;
  color: silver;
}
aside a:hover {
  color: white;
}
aside.active {
  transform: translateX(0%);
}

.container {
  padding: 10px;
}

footer {
  padding: 10px;
  background-color: black;
  color: white;
  text-align: center;
}

.filters,
.tags {
  display: flex;
  align-items: center;
  justify-content: center;
}
button.active {
  background-color: black;
  color: white;
}
.products {
  text-align: center;
  margin-top: 20px;
  max-height: 100vh;
  overflow: auto;
}
.products .item {
  display: inline-table;
  width: 12%;
  padding: 10px;
  margin: 10px;
  background-color: white;
  box-shadow: 0 10px 10px black;
  position: relative;
}
.products .item img {
  width: 100%;
}
.products .item .tags {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  background-color: black;
  color: white;
}
.products .item .cart-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  background-color: black;
  color: white;
}

.products .item .discount {
  background-color: yellow;
  padding: 10px;
  position: absolute;
  top: 50%;
  right: 0;
}

.auth {
  padding: 10px;
  margin: 10px;
  background-color: white;
  display: inline-table;
  border-top: 20px solid #000;
  box-shadow: 0 10px 10px black;
}

.auth input {
  background-color: #f1f1f1;
}
.auth button {
  background-color: black;
  color: white;
  margin-top: 30px;
  width: 100%;
}

p.error {
  color: red;
  margin: 0;
  font-size: 12px;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile > div {
  background-color: white;
  padding: 20px;
  box-shadow: 0 10px 10px black;
  border-top: 20px solid #000;
  margin: 20px auto;
}
.sticky-cart {
  text-align: center;
  z-index: 100000000;
  position: fixed;
  top: 100px;
  right: 0;
  width: 300px;
  background-color: black;
  color: white;
  padding: 10px;
}
.sticky-cart .overflow {
  max-height: calc(100vh - 300px);
  overflow: auto;
}
.sticky-cart .overflow .cart-line {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
}
.sticky-cart .overflow .cart-line button {
  width: 30px;
  height: 30px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sticky-cart .overflow .cart-line .plus,
.sticky-cart .overflow .cart-line .min {
  background-color: grey;
  color: white;
}
.sticky-cart .overflow .cart-line .rem {
  background-color: red;
  color: white;
}
.my-cart {
  height: 80vh;
  overflow: auto;
}
.my-cart table {
  background-color: white;
  width: 100%;
  text-align: center;
  box-shadow: 0 10px 10px black;
  height: 400px;
  overflow: auto;
}
.my-cart table thead {
  position: sticky;
  top: 0px;
  background-color: black;
  color: white;
}
@media (max-width: 1100px) {
  .products .item {
    width: 16%;
  }
}
@media (max-width: 900px) {
  .products .item {
    width: 20%;
  }
}

@media (max-width: 600px) {
  .products .item {
    width: 40%;
  }
}

.checkout-btn
{
  background-color: slateblue;
  color:white;
  margin-top: 10px;
}